@await Html.PartialAsync("~/Views/PartialViews/_FootersHeader.cshtml")

<div class="wrapper row3" style="min-height:603.5px;">
    <main class="hoc container clear">
        <div class="content">
            <h1>
                <b>Gizlilik Politikamız</b>
            </h1>
            <p>
                &nbsp; HızlıRandevu, kullanıcılarımızın gizliliğine büyük önem vermektedir. Bu gizlilik politikası, web sitemizi ziyaret ettiğinizde veya hizmetlerimizi kullandığınızda kişisel bilgilerinizin nasıl toplandığını, saklandığını ve kullanıldığını açıklamaktadır.
            </p>
        </div>
        <div class="clear"></div>
    </main>
</div>