@await Html.PartialAsync("~/Views/PartialViews/_FootersHeader.cshtml")

<div class="wrapper row3" style="min-height:603.5px;">
    <main class="hoc container clear">
        <div class="content">
            <h1>
                <b>Hizmet Politikamız</b>
            </h1>
            <p>
                &nbsp; Bu sayfa, HızlıRandevu tarafından sunulan hizmetlerin kullanım koşullarını içermektedir. Web sitemizi ziyaret ederek veya hizmetlerimizi kullanarak bu koşulları kabul etmiş sayılırsınız. Lütfen dikkatlice okuyunuz.
            </p>
            <h1>1. Hizmetin Amacı</h1>
            <p>HızlıRandevu, kullanıcılarına kısa sürede ve kolay bir şekilde randevu hizmeti sunmayı amaçlamaktadır. Hizmetlerimiz, kullanıcı deneyimini iyileştirmek ve ihtiyaçlarını karşılamak üzere sürekli güncellenmektedir.</p>
            <h1>2. Kullanıcı Yükümlülükleri</h1>
            <ul>
                <li>Kullanıcılar, sağladıkları bilgilerin doğru ve güncel olmasından sorumludur.</li>
                <li>Hizmetlerimizi kötüye kullanmak, diğer kullanıcıların haklarını ihlal etmek veya yasalara aykırı davranışlarda bulunmak yasaktır.</li>
                <li>Hesap oluşturduğunuzda kullanıcı adı ve şifrenizi gizli tutmak sizin sorumluluğunuzdadır.</li>
            </ul>
            <h1>3. Hizmetlerin Kullanılabilirliği</h1>
            <ul>
                <li>Hizmetlerimizin sürekliliğini sağlamaya çalışıyoruz ancak teknik sorunlar, bakım çalışmaları veya mücbir sebepler nedeniyle kesintiler yaşanabilir.</li>
                <li>Hizmetlerin her zaman erişilebilir olacağına dair bir garanti verilmemektedir.</li>
            </ul>
            <h1>4. Gizlilik ve Güvenlik</h1>
            <p>Kullanıcı bilgileriniz, Gizlilik Politikası’mıza uygun şekilde saklanır ve üçüncü taraflarla paylaşılmaz. Daha fazla bilgi için <a href="@Url.Action("GizlilikPolitikasi","Home")" style="color:blue">Gizlilik Politikası </a>sayfamızı ziyaret edebilirsiniz.</p>
            <h1>5. Fikri Mülkiyet Hakları</h1>
            <p>Web sitesinde yer alan tüm içerik, HızlıRandevu’ya aittir veya lisanslanmıştır. İçeriği izinsiz kullanmak, kopyalamak veya paylaşmak yasaktır.</p>
            <h1>6. Değişiklik Hakkı</h1>
            <p>HızlıRandevu, bu hizmet koşullarında değişiklik yapma hakkını saklı tutar. Değişiklikler, web sitemizde yayınlandıktan sonra geçerli olacaktır.</p>
        </div>
        <div class="clear"></div>
    </main>
</div>