@model IEnumerable<SaglikRandevuSistemi.ViewModels.RolViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach(var rol in Model)
{
    <h1>@rol.RolAdi</h1>
    <p>@rol.Kullanicilar</p>
}