<div class="wrapper row1">
    <header id="header" class="hoc clear">
        <div id="logo" class="fl_left">
            <h1><a href="@Url.Action("HastaArayuz","Hasta")">HızlıRandevu</a></h1>
        </div>
        <nav id="mainav" class="fl_right">
            <ul class="clear">
                <li><a href="@Url.Action("HastaArayuz","Hasta")"><i class="fas fa-home rgtspace-5" style="margin-left: 4px;"></i></a></li>
                <li><a href="@Url.Action("LogOut","Home")"><i class="fas fa-sign-out-alt rgtspace-5" style="margin-left: 8px;"></i></a></li>
            </ul>
        </nav>
    </header>
</div>